html{
    width: 100%;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 1rem;
    height: 100%;
}

header{
    background-color: #003580;
    height: 92px;
    position: fixed !important;
    width: 100%;
}

body{
    margin: 0;
    height: auto;
}

section{
    height: auto;
    padding: 0;
    margin: 0;
}
article{
    height: auto;
}

#nav{
    display: inline;
    margin-left: 12em;
}

#nav_der{
    float: right;
    display: inline;
}


.nav{
    display: inline;
}

.nav img{
    width: 127px;
    vertical-align: middle;
    height: auto;
    padding: 1em 0;

}

.nav ul{
    margin-right: 21em;
    margin-top: 2em;
}

.nav ul li{
    display: inline;
    padding-top: 11em;
}

.nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0 1em;
}

a:hover{
    color: #febb02ff !important;
}

.current{
    color: #febb02ff !important;
}

#portada{
    
    background-image: url("../img/blue-section-one-bg-1.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 88% 81%;
    background-clip: padding-box;
    min-height: 916px;
    padding: 0;
}

#text{
    text-align: center;
    padding-top: 18em;
}

#portada h1{

    margin: 0;
    font-size: 4.7em;
    color: white;
    line-height: 1em;
}
#portada h1 span{
    margin: 0;
    color: #febb02ff;
}

#portada p{
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}


#datos{
    background-color: white;
    width: 75%;
    margin: 0em 35em;
}

#kpis{
    display: inline-block;
    width: 45%;
    margin-right: 4em;
}

#kpis ul li{
    list-style-image: url("../img/cuadro-1-e1706228464413.png");
    font-size: 1.3rem;
}

#kpis ul li span{
    color: #511e7dff;
    font-size: 4em;
}

.menor{
    font-size: 2em !important;
}

#text2{
    display: inline-block;
    width: 33%;
    text-align: justify;
    line-height: 1.8;
    vertical-align: top;
}

#text2_1{
    margin: 11em 0;
}

.purple{
    color: #511e7dff;
    font-weight: bold;
}

.yellow{
    color: #febb02ff;
    font-weight: bold;
}

#quotes{
    background-image: url("../img/section-fifth-bg.png");
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: 53% 57%;
    background-size: auto;
    background-attachment: scroll;
    background-clip: padding-box;
    height: 56em ;

}

#quotes2{
    height: 80%;
    width: 60%;
    margin: 0em 35em;
    padding-top: 6em;
}

#quotes h2{
    color: white;
    padding-top: 5em;
    padding-left: 12em;
}

#quotes ul li{
    list-style-image: url("../img/quotes-png-11.png");
    color: white;
    padding: 1.2em;
}



#quotes_izq{
    display: inline-block;
    width: 45%;
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.8;
    margin-right: 2em;
    text-align: center;
    margin-bottom: 1em;
}

#quotes_der{
    display: inline-block;
    width: 45%;
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 1em;
}

#ayudas{
    background-image: url("../img/dzpv2v99.png");
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: auto;
    background-attachment: scroll;
    background-clip: padding-box;
    height: 56em;
}

#ayudas h2{
    color: #003580ff;
    padding-left: 15em;
    padding-top: 10em;
}

#bloques_ayudas{
    width: 70%;
    margin: 10em 30em;
}

.girar{
    color: white;
    margin: 0 1.3em;
    width: 31%;
    display: inline-block;
    height: 200px;
    transition: transform 0.5s;
}

.girar p{
    padding: 0 5px 5px 5px;
    font-size: 1.3em;
    line-height: 1.3;
}

.girar:hover{
    transform: rotateY(360deg);
}

#azul{
    background-color: #0071c2ff;

}

#amarillo{
    background-color: #febb02ff;
    vertical-align: bottom;

}

#violeta{
    background-color: #511e7dff;
    vertical-align: bottom;
}



footer{
    background-image: url("../img/section-nineth-bg.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
    background-attachment: scroll;
    padding: 15em 0 0 0;
}

#footer_izq{
    display: inline;
    margin-left: 12em;
}

#footer_izq img{
    width: 18em;
    padding-top: 20em;
    padding-left: 1em;
}

#footer_der{
    float: right;
    display: inline;
    padding-top: 24em;
}

#footer_der ul{
    display: inline;
    margin-right: 21em;
}

#footer_der ul li{
    display: inline;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0 1em;
}
footer a img{
    width: 2em;
}